section{
	width: 100%;
    height: 120vh;
}






#title{
width: 100%;
height: 10vh;
margin: 20px;
}

#titleTXT{

}

#tTXT input[type=text]{
    width: 95%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}

#category{
	width: 100%;
	height: 10vh;
	margin: 20px;
}

#categoryTXT{

}

#cTXT >select {
	width: 95%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}

#desc{
	width: 100%;
	height: 10vh;
	margin: 20px;
}

#descTXT{

}

#dTXT > textarea[type=text]{
	word-break: break-word;
    width: 95%;
    height: 30vh;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=file]{
	width: 95%;
    background-color: white;
    color: #a6a6a6;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

#img-upload{
    height: 200px;
    width: auto;
}


