/*=========================================== section  ===========================================*/
	section{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
}


/*=========================================== POLA TEKSTOWE  ===========================================*/

#title{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}


#tTXT{
	font-size: 35px;

}

#cTXT{
	font-size: 20px;
	color: #6a6a6a;
}

#dTXT{
	padding: 50px 30px;
	border: solid 1px #ffe0cc;
	border-radius: 5px;
	background-color: white;
}

#dD{
	font-size: 25px;
}


/*=========================================== ZDJĘCIA  ===========================================*/
#photos{
	margin-bottom: 30px;
}


#fileUpload{
}

.photoBox{
	width: 100%;
	height: 60vh;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
	background-color: white;

}

.photoBox img{
	width: 100%;
	height: auto;
	height: 100%;
	width: auto;
	object-fit: contain;
	max-width: 100%;
	max-height: 100%;
	
}


/*=========================================== ulubione  ===========================================*/

#title button{
	width: 50px:;
	height: 50px;
	border: 0;
	background-color: transparent;
}

#title button img{
	max-width: 100%;
	max-height: 100%;
}




