.row{
	display: flex;
	flex-direction: row;

}

.col-sm-3{
	flex-direction: column;
	margin: 5px;
}

.col-sm-3:hover .categoryA{
	font-size: 23px;
	text-shadow: 2px 2px 5px #595959;
	transition: all 0.8s ease;

}

.index_cat_photo{
	width: 140px;
	height: auto;
	margin: 0 10px;
}


.titleBOX{
	width: 220px;
	height: 40px;
	padding-top: 13px;

}
.categoryA{
	font-size: 20px;
	transition: all 0.8s ease;	

}

.categoryA:hover{
	font-size: 23px;
	text-shadow: 2px 2px 5px #595959;
	transition: all 0.8s ease;
}

