
@media only screen and (min-width: 768px) {


/*=========================================== KATEGORIE ===========================================*/

.row{
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}


.col{
	flex-direction: column;
	width: 24%;

}

.col:hover .categoryA{
	font-size: 17px;
	text-shadow: 2px 2px 5px #595959;
	transition: all 0.8s ease;

}


.index_cat_photo{
	width: 50px;
	height: 50px;
	margin: 0 10px;
}

.titleBOX{
	display: inline;
	white-space:nowrap;
	width: 100px;
	height: 40px;
	padding-top: 13px;

}

.categoryA{
	display: flex;
	flex-direction: row;
	padding: 5px 0;
	border-radius: 40px; 
	font-size: 15px;
	transition: all 0.8s ease;	
	background-color: white;
	text-decoration: none;
	font-weight: bold;

}




/*=========================================== NAJNOWSZE OGÅOSZENIA  ===========================================*/


#helper{
	background-color: #f2f2f2;
	width: 100%;
	padding-bottom: 50px;
	padding-top: 50px;
	margin-top: 50px;
}

#latestAdds{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	
}



.announ{
	overflow: hidden;
	display: flex;
	flex-direction: column;
	margin-bottom: 5px;
	width: 220px;
	height: auto;
	border-radius: 5px;
	background-color: white;
	text-decoration: none;
	border-style: solid;
	border-width: 1px;
	border-color: #f2f2f2;
	transition: all 0.3s ease;
	
}

.announ:hover{
	border-color: #bfbfbf;
	transition: all 0.3s ease;
	
}

.announTit{
	padding: 5px 5px;
	font-size: 13px;
	transition: all 0.3s ease;
}

.announTit h3{
	font-size: 16px;
	margin: 0;
}

.category{
	font-weight: bold;
	color: #bfbfbf;
}

.date{
	vertical-align: bottom;
}


.announ:hover > .announTit > h3{
	color: #00025e;
	text-shadow: 0 0 5px #bfbfbf;
	transition: all 0.3s ease;
}




.announPic{
	padding: 0;
	
	width: 100%;
	height: 150px;
	text-align: center;
	background-color: #e2e2e2;
	line-height: 150px;
	font-weight: bold;
	color: #666666;
	overflow: hidden;
}


.photo{
	width: 100%;
	height: auto;
	height: 100%;
	width: auto;
	object-fit: contain;
	max-width: 100%;
	max-height: 100%;
}




hr{
	display: block;
	height: 1px;
	background-color: #bfbfbf;
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
}
}