.row{
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}


.col{
	flex-direction: column;
	width: 24%;

}

.col:hover .categoryA{
	font-size: 17px;
	text-shadow: 2px 2px 5px #595959;
	transition: all 0.8s ease;

}


.index_cat_photo{
	width: 50px;
	height: 50px;
	margin: 0 10px;
}

.titleBOX{
	display: inline;
	white-space:nowrap;
	width: 100px;
	height: 40px;
	padding-top: 13px;

}

.categoryA{
	display: flex;
	flex-direction: row;
	padding: 5px 0;
	border-radius: 40px; 
	font-size: 15px;
	transition: all 0.8s ease;	
	background-color: white;
	text-decoration: none;
	font-weight: bold;

}


