.photo{
	max-width: 100%;
	max-height: 200px;
}


.announ{
	display: flex;
	flex-direction: row;
	width: 100%;
}

.announTit{
	width: 700px;
}

.announPic{
	width: 200px;
	height: 200px;
}


hr{
	display: block;
	height: 1px;
	background-color: #bfbfbf;
	width: 100%;
	text-align: center;
	margin-bottom: 40px;
}