.announ{
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 170px;
	border-radius: 5px;
	background-color: white;
	padding-right: 10px;
	padding-left: 10px;
	text-decoration: none;
	border-style: solid;
	border-width: 1px;
	border-color: #f2f2f2;
	transition: all 0.3s ease;
	
}

.announ:hover{
	border-color: #bfbfbf;
	transition: all 0.3s ease;
	
}

.announTit{
	width: 700px;
	transition: all 0.3s ease;
}

.category{
	font-weight: bold;
	color: #bfbfbf;
}

.date{
	margin-left: 10px;
	margin-top: 35px;
	vertical-align: bottom;
}


.announ:hover > .announTit > h3{
	color: #00025e;
	text-shadow: 0 0 5px #bfbfbf;
	transition: all 0.3s ease;
}




.announPic{
	margin: 10px 0;
	width: 150px;
	height: 150px;
	text-align: center;
	background-color: #e2e2e2;
	line-height: 150px;
	font-weight: bold;
	color: #666666;
}


.photo{
	width: 100%;
	height: auto;
	height: 100%;
	width: auto;
	object-fit: contain;
	max-width: 100%;
	max-height: 100%;
}




hr{
	display: block;
	height: 1px;
	background-color: #bfbfbf;
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
}