*{
 
}

@font-face{
  font-family: Lato;
  src: url(font/Lato-Light.ttf);
  font-weight: normal;
}
@font-face{
  font-family: Lato;
  src:url(font/Lato-Regular.ttf);
  font-weight: bold;
}


body {
/*background-image: url("bg.png");*/
background-color: white;
background-repeat: no-repeat;
background-size: auto;
background-attachment: fixed;
font-family: Lato;
}


header{
  width:100%;
  z-index: 1;
  position: relative;
}

.auto{
  width: 900px;
  margin: 0 auto;
}

.header{
  background-color: white;
  min-height: 50px;
  
  
}


.logo{

}

.menu{
  display: flex;
  justify-content: flex-end;
}

.buttonPanel{
  display: flex;
  
  height: 50px;
}

.button a {
  color: black;
  display: block;
  flex-direction: row;
  width: 180px;
  height: 50px;
  line-height: 50px;
  /*padding:15px 7px 16px 7px;*/
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  

}

.color{
  transition: all 0.6s ease;
}

.color:hover {
  background-color: #99ccff;
  color: white;
}



.button:hover {
  transition: all 0.6s ease;
}


ul li {
  display:block;
  color:#000;
  text-decoration:none;
  
}




#profmenu > ul {
  
  visibility: hidden;
       transform: scaleY(0); /* zwijamy cały element */
     -webkit-transform: scaleY(0);
     transform-origin: 50% 0; /* ustawiamy punkt zwijania względem środka górnej krawędzi */
     -webkit-transform-origin: 50% 0;
     transition: 200ms; /* wydłużamy wykonywanie stylów */
}

#profmenu:hover  > ul, ul:hover, li:hover {
  
  position: relative;
  z-index: 10;
  margin: 0;
  visibility: visible;
     transform: scaleY(1); /* rozwijamy element do całej jego wysokości */
     -webkit-transform: scaleY(1);

  
}



.profBtn a{
  font-size: 14px;
  text-decoration: none;
  display: block;
  height: 50px;
  background-color: #ffe6b3;
  text-align: center;
  line-height: 50px;
  width: 100%;
  color: black;
  transition: all 0.6s ease;
}

.profBtn:hover a{
  cursor: pointer;
  background-color: #cce6ff;
  transition: all 0.6s ease;
}




.err{
  color: red;
}


a {
  cursor: pointer;
}



/* TREŚĆ STRONY */

section{
  background-color: #f2f2f2;
  width: 100%;
  /*min-height: 120vh;*/
  padding-bottom: 20px;
  padding-top: 20px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  margin-bottom: 0;
  
}




/* STOPKA */

footer{
  width: 100%;
  height: 250px;
  
  background-image: linear-gradient(#091834, #08142b);
  margin: 0;
  color: gray;
}


footer .auto {
    display: flex;
    padding-top: 30px;
}

.auto  > .column {
  display: flex;
  flex-direction: column;
  flex: 1;
  
}

.column > .row{
  flex-direction: row;

}


.row {
  width: 100%;
  margin-top: 10px;

}

.row > a{
  font-size: 15px;
  text-decoration: none;
  text-align: left;
  transition: all 0.8s ease;
}

.row > a:hover{
  color: #f2f2f2;
  transition: all 0.8s ease;
}